.mapLink {
    color: green !important;
}

.mapLink::before {
    color: black;
    content: "[";
}

.mapLink::after {
    color: black;
    content: "]";
}

.tableGroup {
    display:block;
    border-top: 2px solid black;
}